<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <br>
            <center><h1 class="titleText">Eat Da Burger</h1></center>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <center> <img src="/assets/img/burger3.jpg" style="height:100;width:100"></center>
           <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-12 addBurger">
            <h3 class="miniHeading">Add Burger's</h3>
            <div class="moveMe">
                <form class="create-update-form" action="/insertOne" method="POST">
                    <div class="form-group">
                        <textarea type="text" name="burger_name"></textarea><br>
                        <button id = "Addburger" class="btn btn-warning" type="submit" >Add da burger!
                        </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6 burgers">
            <h3 class="miniHeading">List Of the Burger's !!</h3>
            <br>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="showBurger">
                    <p>
                        {{this.burger_name}}</p>
                    <form action="/updateOne/{{this.id}}" method="POST">
                        <input type="hidden" name="devoured" value="1">
                        <button id="eatDaburger" type="submit" class="btn">Eat da burger!</button>
                    </form>
                    <br>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6 devoured">
            <h3 class="miniHeading">Burger's Devoured</h3>
            <br>
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="devourBurger">
                    <p>{{this.burger_name}}</p>
                    <form action="/devoured/{{this.id}}" method="POST" aria-readonly="true">
                    </form>
                    {{/if}}
                    {{/each}}
                </div>
            </ul>
        </div>
    </div>
</div>
<hr>
</div>